/* Reset CSS */

html {
  font-family: 'Source Sans 3', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #808080 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

#header .btn-close--user {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#header .modal .btn {
  color: #e1e3e5
}

#header .modal .btn:hover {
  color: #fff;
}

#header #nav .btn--account:hover {
  color: #fff !important;
}

#header #nav .dropdown-menu {
  transform: translate(-25%, 0);
}

#hero {
  min-height: 300px;
  background: #000 url("/images/hero-background.jpg") center bottom no-repeat;
  background-size: cover;  
}

#hero .title {
  font-family: 'Source Sans 3', sans-serif;
  color: #fff;
}

#hero .title h2 {
  font-size: 48px;
}

#hero .title h3 {
  font-size: 32px;
}

#hero .inner-search-form label input {
  border-radius: 30px;
}

#hero .inner-search-form .btn {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
  border-radius: 30px;
  padding: 10px 26px;
}

section .section__title h2 {
  font-size: 1.5rem;
}

section .section__content .slider {
  overflow-y: hidden;
  overflow-x: scroll;
}

section .card {
  min-width: 150px;
}

section .card:not(:first-child) {
  margin-left: 40px;
}

section .card .card-img {
  height: 225px;
}

section .card .card-title a {
  font-size: 1rem;
  color: black;
  transition: color .5s;
  text-decoration: none;
}

section .card .card-title a:hover {
  color: rgb(1, 180, 228);
}

#banner .container {
  background-image: url("../images/banner-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.registeration_form {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
}

.registeration_form {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
}

.registeration_form .form-title {
  text-align: center;
}

.poster_info_wrapper .poster-details {
  margin-bottom: 24px;
}

.poster_info_wrapper .actions .action {
  margin-right: 20px;
  padding: 3px 0;
  display: inline-block;
}

.poster_info_wrapper .actions .action.btn--circle {
  /* background-color: rgb(3,37,65);
  border-radius: 50%; */
  /* width: auto; */
}

.poster_info_wrapper .actions .action a {
  text-decoration: none;
  color: #fff;
  width: 46px;
  height: 46px;
}

.poster_img {
  min-width: 300px;
  width: 300px;
}

.people li {
  width: 33%;
}

.tagline {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: .7;
}

.tagline + h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.poster_facts {
  font-size: 1rem;
}

.poster_facts .certification {
  padding: .96px 4px 2.4px 4px;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  margin-right: 7px;
}

.poster_facts .genres ul li {
  margin-right: 6px
}

.poster_facts .genres ul li:first-child::before,
.poster_facts .runtime::before {
  content: "•";
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
}

#social .card {
}

#social .card .rating span {
  display: inline-block;
  margin-right: 1rem;
}

#social .card .rating a {
  text-decoration: none;
  color: #000;
}