doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Sans+3:wght@700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#header
      nav#nav.navbar.navbar-expand.navbar-dark.bg-dark.mx-auto
        .container-xxl
          a.navbar-brand(href='/') MovieReviewDB
          // Button trigger modal
          ul.navbar-nav.me-auto.mb-lg-0.w-100.justify-content-between.align-items-center
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Movies
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='#top-rated') Top Rated
                a.dropdown-item(href='#playing') Now Playing
                a.dropdown-item(href='#popular') Popular
            li.nav-item
              button.btn.btn--account.text-secondary(type='button' data-bs-toggle='modal' data-bs-target='#loginModal')
                i.bi.bi-person-circle.h2
              #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog
                  .modal-content.bg-dark.text-light
                    .modal-header.d-block.position-relative.border-bottom-0
                      h1#accountModalLabel.modal-title.fs-5.w-100.text-center Account Details
                      button.btn-close.btn-close-white.btn-close--user(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body.d-flex.flex-column
                      button.btn.btn-success.w-100.mb-3(type='button' data-bs-dismiss='modal' href="/movie/favourite") Favourite
                      button.btn.btn-warning.w-100.mb-3(type='button' data-bs-dismiss='modal') Reviews
                      button.btn.btn-info.w-100(type='button' data-bs-dismiss='modal') Account Settings
                    .modal-footer.border-top-0
                      button.btn.btn-danger.w-100(type='button' data-bs-dismiss='modal') Signout 
              #loginModal.modal.fade(tabindex='-1' aria-labelledby='loginModalLabel' aria-hidden='true')
                .modal-dialog
                  .modal-content.bg-dark.text-light
                    .modal-header.d-block.position-relative.border-bottom-0
                      h1#loginModalLabel.modal-title.fs-5.w-100.text-center Login
                      button.btn-close.btn-close-white.btn-close--user(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body.d-flex.flex-column
                      form#loginForm(action="") 
                        .form-group 
                          label(for="exampleFormControlInput1") Email Address
                          input(type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com")
                        .form-group.mt-3
                          label(for="loginInput") Password
                          input(type="password" class="form-control" id="inputPassword" placeholder="Password")
                        .form-group.mt-2.text-end
                          a(href="/register") Don't have an account? Register here!
                        .form-group.mt-2
                          button.btn.btn-primary.w-100(type='button' data-bs-dismiss='modal') Login
    main
      block content

    footer#footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top(style="max-width: 1300px; margin: auto")
      .col-md-4.d-flex.align-items-center
        a.mb-3.me-2.mb-md-0.text-body-secondary.text-decoration-none.lh-1
        span.mb-3.mb-md-0.text-body-secondary © 2023 MovieReviewDB
      ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
        li.ms-3
          a.text-body-secondary(href="#")
            i 
        li.ms-3
          a.text-body-secondary(href="#") 
            i 
        li.ms-3
          a.text-body-secondary(href="#") 
            i
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
