.card
  .card-body
    h5.card-title A review by Martha
    .d-flex
        .rating.d-flex
            span.bg-dark.rounded.text-white.p-1
                i.bi.bi-star-fill 6.0
            h5.mb-0
                | Written By
                a(href='#')= " " + review.name + " "
                    span= " on " + review.date
    p.card-text.pt-3
      | Disappointed. Tom Hiddleston is not to blame. He is awesome as the God of Mischief, the story just wasn't compelling. It was all a little muddled from start to finish. Tom always delivers as Loki and it is enjoyable to watch if you can piece together the chaotic nature of the story. I did enjoy the variants, especially the alligator.
